.null {
    margin: 0;
    padding: 0;
}

/*.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50px;
}*/

/*@media screen and (max-width: 600px) {
    p {
        color: cornflowerblue;
    }
}*/

.item {
    border: 1px solid black;
}