/* Exercise 1 */
@media screen and (max-width: 600px) {
    p {
        color: cornflowerblue;
    }
}

/* Exercise 2 */
.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50px;
}

/* Exercise 4 */
.item {
    border: 1px solid black;
}